<!DOCTYPE html>
<html ng-app="app">
  <head>
		<title><%= title %></title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/jquery-easyui-1.4.2/themes/default/easyui.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>

		<!-- Rendering area -->
		<div id="panels" class="easyui-layout" style="width:900px; height:700px;">
						<div ui-view="doc"></div>
		        <div data-options="region:'north'" style="height:160px">
							<div ui-view="north"></div>
		        </div>
		        <div data-options="region:'south',split:true" style="height:150px">
							<div ui-view="south"></div>
		        </div>
		        <div data-options="region:'center',split:true">
							<div ui-view="center"></div>
		        </div>
		</div>
		

		<!-- Angular -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.js"></script>

		<!-- Bootstrap -->
		<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ng-clip/0.2.6/ng-clip.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.Core.min.js"></script>

		<!-- App -->
		<script src="/javascripts/app.js"></script>

		<!-- easyui -->
		<script src="/jquery-easyui-1.4.2/jquery.easyui.min.js"></script>
  </body>
</html>
