body {
  padding: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

textarea {
	width: 100%;
	resize: none;
}

#panels {
  margin-left: auto;
  margin-right: auto;
}

.panel-body {
	border: none;
}
