<h3>{{doc.title}}</h3>

<div class="btn-group">
	<a type="button" href="javascript: history.go(-1)" class="btn btn-default" aria-label="Back">
	  <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
	</a>
	<button type="button" ng-click="edit()"
		class="btn btn-default" aria-label="Edit">
	  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
	</button>
	<button type="button" ng-click="save()"
		class="btn btn-success" aria-label="Save">
	  <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
	</button>
	<span>Status:</span>
	<select ng-model="doc.status" ng-options="s for s in docStatusOptions">
		<option value="">-- choose status --</option>
	</select>
	<span>Updated at:</span><span ng-bind="doc._updatedAt | date:'yyyy-MM-dd HH:mm:ss'"></span>
	<span ng-bind="progress.numOfCompletes"></span>
	<span>/</span>
	<span ng-bind="progress.numOfItems"></span>
	<span>{{progress.percentage}} %</span>
</div>

<div class="">
<div class="progress">
	<div class="progress-bar" role="progressbar" aria-valuenow="{{progress.percentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress.percentage}}%;">
		{{progress.percentage}}%
  </div>
</div>
</div>

