
<table class="table">
	<tr><th width="4%">#</th><th width="48%">En</th><th width="48%">Ja</th></tr>
	<tr ng-repeat="sentence in doc.sentences">
		<td>{{sentence.pos}}</td>
		<td>{{sentence.txt.en}}</td>
		<td>
			<textarea ng-model="sentence.txt.ja"
				ng-focus="getSimilarSentences(sentence.id)"
				rows="{{sentence.txt.en.length / 30}}" >{{sentence.txt.ja}}</textarea>
		</td>
	</tr>
</table>

<span id="top-link-block" ng-if="isWindowBig()">
    <a href="#top" onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
        <i class="glyphicon glyphicon-chevron-up"></i> Back to Top
    </a>
</span>
